body {
  max-height:900px;
  max-width: 1400px;

}

html {
  background-image: url('./images/plantbackground1.jpg');
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-position: top;

}

/* /////////////////////////////////REGISTER */
.reg_out{
  background-color: #7F9A65;
  max-width: 1440px;
  height: 100px;
  position: relative;
}

.regform {
  position: absolute;
  border-radius: 20px;
}

/* /////////////////////////////////LOGIN */

.loginform {
  max-width: 1440px;
  font-size: 40px;
  left: 200px;
  right: 200px;
  float: center;
}

.login_outer {
  border: 25px;
  background-color: #78A489;
  text-align: center;
  max-width: 1440px;
  float: center;
}

/* .username_input{
  width: 40%;
  padding: 10px 18px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #F0FFF0;
}

.email_input{
  width: 40%;
  padding: 10px 18px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #F0FFF0;
}

.password_input {
  width: 40%;
  padding: 10px 18px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #F0FFF0;
} */

.login_btn {
  background-color: #B6C5BE;
}


/* /////////////////////////////////NAV BAR */
.nav-bar li {
  display: inline;
  background: #DBE6E0;
  max-width:1500px;
  text-align: center;
  max-height: 40px;
  top: 15px;
  font-size: 25px;
  padding-left: 80px;
  padding-right: 80px;
}

ul.nav-bar {
  background: #DBE6E0;
  max-width:1500px;
  text-align: center;
  list-style-type: none;
  padding: 15px;
}

.header_nav {
  max-height: 40px;
  background-color: ;
}
/* /////////////////////////////////SEARCH */
.plant_list {
  max-width: 400px;
}

.search_bar {
  position: relative;
}

.searching {
  position: absolute;
  left: 650px;
  width: 100px;
  padding: 10px 18px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #F0FFF0;
}
